body {
  margin-bottom: 1000px;
  font-family: Roboto, Arial;
  font-size: 16px;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

nav {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin-left: 9vw;
  padding-left: 1vw;
  padding-top: 10px;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
}

.nav-links {
  margin: 5px;
  color: rgb(0, 153, 107);
  text-decoration: none;
  font-family: Roboto, Arial;
  font-weight: 500;
  transition: .15s;
}

.nav-links:hover {
  color: #34495e;
}
.nav-links:active{
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;

}
.landing{
  display: flex;
  flex-direction: row;
}
@media screen and (orientation: portrait) {
  .landing{
    flex-direction: column;
  }
  
}
.intro {
  flex: 40%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 070vh;
  flex-direction: column;
}

.aboutme {
  flex: 60%;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  height: 070vh;
  padding: 5px 10px;

}


.dp {
  width: 60%;
  border-radius: 100%;
}

.name {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.bio {
  text-align: center;
  line-height: 32px;
  font-size: 20px;
  color: rgb(0, 153, 107);
  margin-bottom: 20px;
}

.links {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.links svg {
  fill: rgb(0, 126, 88)
}


.aboutme .header{
  font-size: 35px;
}
.aboutme .main{
  line-height: 1.7;
  font-size: 18px;
  
}
#Education{
  margin-top: 300px;
}